{% extends 'base/base_genres.html' %}
{% block title %}
List Genres
{% endblock title %}
{% block content %}
<div class="col-md-12">

    <div class="col-12" style="margin-top: 30px; margin-bottom:30px;">
        <a href="{% url 'insert_genres'%}"> <button type="button" class="btn btn-primary">Add Genres</button></a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Thể Loại</th>
            </tr>
        </thead>
        <tbody>
            {% for genres in all_genres %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td> <a href="{% url 'view_genres' pk=genres.id%}">{{genres.name}}
                    </a></td>
                    <td>
                        <a href="{% url 'edit_genres' pk=genres.id %}"><i class="bi bi-pencil"></i> </a> |
                        <a href="{% url 'remove_genres' pk=genres.id %}"><i class="bi bi-trash"></i> </a>
                    </td>    

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}